<div class = "jumbotron">
<h1><i class="fa fa-circle-o-notch"></i>Bazooonga</h1>
<p>
Welcome to Bazooonga. Sign up as a blogger or a social media influencer and work for brands all over the world.
</p>

<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"  %> 
</div>